{% block content %}
    <style>
        .error {
            color: red;
        }
    </style>

    <form action="/validate-fields" method="post">
      <h1>Signup</h1>
      Username: <br>
      <input type="text" name="username"/>
      {% if error1 %}
        <span class='error'>{{ error1 }}</span>
      {% endif %}
      <br>
      Password: <br>
      <input type="password" name="password" />
      {% if password %}
      getpass.getpass(prompt='Password: ', stream=None)
      {% endif %}
      {% if error2 %}
        <span class='error'>{{ error2 }}</span>
      {% endif %}
      <br>
      Verify Password:<br>
      <input type="password" name="verify-passwd" /> 
      {% if error3 %}
        <span class='error'>{{ error3 }}</span>
      {% endif %}
      <br>
      Email (Optional):<br>
      <input type="text" name="email" />
      {% if error4 %}
        <span class='error'>{{ error4 }}</span>
      {% endif %}
      <br>
      <input type="submit" name="submit" />
      
    </form>


{% endblock %}
